$primary-color-light: #2727278b;
$secondary-color-light: #151515;
$text-color: #ccc;
$primary-color-dark: #111;
$secondary-color-dark: #444;
$dark-border-color: #8c8a8a;
$color-blue: rgb(11, 102, 206);
$color-light-blue: #009fb7;
$color-red: rgb(228, 64, 64);
$color-green: rgb(42, 169, 73);
$color-yellow: #fed766;
$focus-color: #fff;

$trans: 0.2s all;
$border-yellow: 1px solid $color-yellow;
$border-light: 1px solid #cccccc57;
$border-dark: 2px solid $dark-border-color;
$border-dark2: 2px solid $primary-color-dark;
$border-dark-focus: 2px solid $text-color;

$shadow-dark: 5px 5px 10px #333, -5px -5px 10px #333;
$shadow-dark2: 5px 5px 10px #222, -5px -5px 10px #222;
$shadow-dark3: 4px 4px 10px #111, -4px -4px 10px #111;
