@import "_colours";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Instrument Sans" !important;
  font-weight: 200;
}
body {
  color: $text-color;
  height: 100vh;
  background-color: $secondary-color-light;
}
#root {
  height: 100%;
}
@media screen and (max-width: 700px) {
  body {
    height: fit-content;
  }
}
