@import "../../../colours";
.card {
  min-height: 600px;
  min-width: 500px;
  height: auto;
  border: $border-dark;
  background-color: $secondary-color-dark;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: $shadow-dark2;
  padding: 1rem 0;
  margin-top: 7rem;
  h1 {
    text-align: center;
    width: 100%;
    border-bottom: $border-dark;
    padding: 1rem 0;
  }
  a {
    color: $text-color;
    text-decoration: underline;
    margin: 5px 0;
  }
}
@media (max-width: 600px) {
  .card {
    min-width: 0;
    width: 96%;
    margin-top: 0 !important;
  }
}
