@import "../../../colours";
.profile-image {
  border-radius: 50%;
  border: $border-light;
  height: 200px;
  width: 200px;
  overflow: hidden;
  box-shadow: $shadow-dark3;
  margin: 1.5rem 0;
  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}
@media (max-width: 600px) {
  .profile-image {
    height: 200px;
    width: 200px;
  }
}
